<div class="view error-view">
  <div class="row">
    <div class="col-sm-12">
    <p>&nbsp;</p>
    <h2 class="text-center">Ooups! Il y a un problème.</h2>
    <hr>
      <div class="alert alert-warning">
        <p>
          Veuillez retourner sur la page précedente et essayer de nouveau.          
        </p>
      </div>

      <p class="alert">
        Si ce problème se reproduit, veuillez contacter votre commercial Delta.        
      </p>

      <!--div class="well text-center">
        <div class="" ng-repeat="e in errors">
          <strong>{{e}}</strong>
        </div>
      </div-->

    </div>
  </div>
</div>