<div class="view verify-view" ng-show="status!=='loading'">
  <div class="box row">
    <div class="col-sm-12">
      <div class="header">
        <span ng-show="status=='verified'">Votre compte a été créé avec succès</span>
        <span ng-show="status=='failed'">Nous sommes désolés, une erreur s'est produit pendant vérfication de votre compte.</span>
      </div>
      <div class="verified" ng-show="status=='verified'">
        <p>
          <span>Et voilà ! Votre compte est prêt, veuillez </span>
          <a href="#/">se connecter</a>
        </p>
      </div>
      <div ng-show="error" class="alert alert-danger">
          <strong>{{error}}</strong>
      </div>
      <div class="verification-failed" ng-show="status=='failed'">
        <p>
          <span>Merci de cliquer de nouveau sur le lien dans email de vérification.</span>
        </p>
        <p>
          <span>Si le problème se reproduit, vous pouvez essayer de </span>
          <a href="#/register">s'incrire</a>
          <span>de nouveau.</span>
        </p>
      </div>
    </div>
  </div>
</div>